<div class="search">
    <form #form="ngForm" (submit)="onSubmit()">
        <input type="text" placeholder="Search city" name="city" [(ngModel)]="cityName"/>
    </form>
</div>

<div class="containerapp" *ngIf="weatherData">
    <div class="upperpart">
        <img src="../assets/sunnyweather.jpg" *ngIf="weatherData.main.temp > 15">
        <img src="../assets/rainyweather.jpg" *ngIf="weatherData.main.temp <= 15">
        <div class="weather-data">
            <div class="location">{{ weatherData.name }}</div>
            <div class="temperature">{{ weatherData.main.temp | number: '1.0-0' }} °C</div>
        </div>
    </div>

    <div class="lowerpart">
        <div class="more-info-label">
            More Information
        </div>
        <div class="more-info-container">
            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/low-temperature.png">
                    <span>MIN</span>
                </div>
                <div class="info-block-value">
                    {{ weatherData.main.temp_min | number: '1.0-0' }} °C
                </div>
            </div>

            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/high-temperature.png">
                    <span>MAX</span>
                </div>
                <div class="info-block-value">
                    {{ weatherData.main.temp_max | number: '1.0-0' }} °C
                </div>
            </div>

            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/humidity.png">
                    <span>HUM</span>
                </div>
                <div class="info-block-value">
                    {{ weatherData.main.humidity | number: '1.0-0' }} %
                </div>
            </div>

            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/wind.png">
                    <span>WIND</span>
                </div>
                <div class="info-block-value">
                    {{ weatherData.wind.speed | number: '1.0-0' }} Km/h
                </div>
            </div>
        </div>

    </div>
</div>

<!-- <div class="containerapp">
    <div class="upperpart">
        <img src="../assets/pexels-pixabay-36717.jpg">
        <img src="../assets/pexels-rafael-cerqueira-4737484.jpg">
        <div class="weather-data">
            <div class="location">MADURAI</div>
            <div class="temperature">{{ 14.40 | number: '1.0-0' }} °C</div>
        </div>
    </div>

    <div class="lowerpart">
        <div class="more-info-label">
            More Information
        </div>
        <div class="more-info-container">
            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/low-temperature.png">
                    <span>MIN</span>
                </div>
                <div class="info-block-value">
                    10 °C
                </div>
            </div>

            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/high-temperature.png">
                    <span>MAX</span>
                </div>
                <div class="info-block-value">
                    20 °C
                </div>
            </div>

            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/humidity.png">
                    <span>MIN</span>
                </div>
                <div class="info-block-value">
                    77%
                </div>
            </div>

            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/wind.png">
                    <span>WIND</span>
                </div>
                <div class="info-block-value">
                    11 km/h
                </div>
            </div>
        </div>

    </div>
</div> -->


<router-outlet></router-outlet>